{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "no-unused-vars": [0, {"vars": "all", "args": "after-used"}],
    "no-underscore-dangle": false
  }
}
