{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "defaultParams": true,
    "destructuring": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "phantomjs": true,
    "es6": true
  },
  "globals": {
    "expect": true
  }
}
